h1{font-family: 'Arial';
    font-size: 5vw;
    font-weight: 40px;
    text-align: center;
    text-shadow:3px 2px 2px grey;

}

p{font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.5vw;
    text-align: center;
    font-weight: bold;
    }

#card{
    display: inline-flexbox;
    height: 30vw;
    width: 50vw;
    border: 3px black solid;
    border-style: dashed;
    background-color: lightgrey;
    border-radius: 10px;
    background:radial-gradient(#cbe6f3, #7996b1);    


    

}



