*{
    font-family:arial;
    box-sizing:border-box;
}

body{
    margin:0;
    padding:0;
}

header{
    width:100%;
    background-image:url("https://picsum.photos/id/1/762/400?grayscale&blur=2");
    background-size:cover;
    background-position: center;
    padding:0 50px;
}

header nav{
    width:100%;
    height:70px;
    border-bottom:1px solid white;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header nav ul{
    list-style:none;
    display:flex;
    align-items:baseline;
}

header nav ul li{
    margin:0px 10px;
    font-size:16px;
    height: 30px;
}

header nav ul li:hover{
    border-bottom: 1px solid red;

}

header nav ul li a{
    text-decoration:none;
    color:white;

}

.logo{
    width:50px;
}


/* ----footer styles----- */

footer {
    background-color: #1a2e45;
    color: #fff;
    padding: 50px 15px;
    font-size: 13px;
}

footer div.flex-wrapper-paragraph h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 50px;
}

footer div.flex-wrapper-paragraph p {
    line-height: 20px;
    width: 300px;
}

footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer nav ul * {
    text-decoration: none;
}

footer nav ul li.first-nevel {
    padding: 50px 0 30px 0;
}

footer nav ul li.first-nevel a::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #fa3737;
    margin-top: 15px;
}

footer nav ul li.first-nevel a {
    color: #fff;
    font-size: 20px;
    font-weight: 900;
}

footer div.flex-wrapper-paragraph p,
footer nav ul ul li a,
footer nav ul ul li {
    color: #5c6673;
}

footer nav ul ul li {
    margin: 17px 0 0 0;
}

footer nav ul ul li a {
    cursor: pointer;
}

footer nav ul ul li a:hover {
    color: #fff;
}

footer nav ul ul li i {
    color: #fa3737;
    margin-right: 8px;
}

@media only screen and (min-width:520px) {
    footer div.flex-wrapper {
        display: flex;
        justify-content: space-around;
    }
    footer div.flex-wrapper div.flex-wrapper-paragraph {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
    }
    nav {
        display: flex;
        justify-content: space-around;
        flex: 0 0 calc(60% - 10px);
    }
}


/*------*/